@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {

  font-family: 'Lato', sans-serif !important;
  background-color: #333 !important;
  color: #222;
  overflow-x: hidden;
  position: relative;
}


//ARTICLE

.article-bg::before {
  content: '';
  background: url("../images/article/1g.gif") no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;


}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform .5s linear;
  max-width: 100vw !important;
  min-height: 100vh;
  padding: 50px !important;

}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.article-circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform .5s linear;
}

.container.show-nav .article-circle {
  transform: rotate(-70deg);
}

.article-circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background-color: transparent;
  border: 0;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

.article-circle button:focus {
  outline: none;
}

.article-circle button#open {
  left: 60%;
}

.article-circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0) !important;
  transition-delay: .3s;

}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content img {
  max-width: 100%;
  margin: 20px 0 50px 0;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
  line-height: 1.5;
  display: inline-block;
  margin: 10px 0;
}

.article-nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

.article-nav ul {
  list-style-type: none;
  padding-left: 30px;
}

.article-nav ul li {
  text-transform: uppercase;
  color: white;
  padding: 20px 0;
  transform: translateX(-200%);
  transition: transform .4s ease-in;
}

.article-nav ul li + li {
  margin-left: 15px;
  transform: translateX(-250%);
}

.article-nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-300%);
}

.article-nav ul li i {
  font-size: 20px;
  margin-right: 10px;

}

.article-nav a {
  color: white;
}

.container.show-nav + nav li:hover i, .container.show-nav + nav li:hover a {
  text-decoration: none;
  color: #ff7979;
  transition: color .3s;
}
