@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&family=League+Spartan:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@500;600&family=Muli:wght@500&display=swap");
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

body {
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
}

.container {
  width: 95%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100% !important;
}

.hex-colors {
  text-align: center;
}

.hex-colors h1 {
  font-size: 2rem;
  text-transform: uppercase;
  animation: changecolor 10s infinite alternate;
}

.hex-colors h2 {
  font-size: 2rem;
  margin-top: 15%;
}

.button, .btn-primary:hover, .btn-primary, .btn.focus, .btn:focus {
  outline: 0 !important;
  border: 0 !important;
}

.btn.focus, .btn:focus {
  box-shadow: none !important;
}

@keyframes changecolor {
  0% {
    color: indianred;
  }
  20% {
    color: blue;
  }
  40% {
    color: green;
  }
  60% {
    color: yellow;
  }
  100% {
    color: red;
  }
}
@media (max-width: 480px) {
  .hex-colors h1 {
    font-size: 1.5rem;
  }
}
.expandings {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.panel_wrapper {
  display: flex;
  width: 90vh;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
  background-size: cover !important;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel:nth-child(1) {
  background: url("../images/expanding_cards/1.jpg");
}

.panel:nth-child(2) {
  background: url("../images/expanding_cards/2.jpg");
}

.panel:nth-child(3) {
  background: url("../images/expanding_cards/3.jpg");
}

.panel:nth-child(4) {
  background: url("../images/expanding_cards/4.jpg");
}

.panel:nth-child(5) {
  background: url("../images/expanding_cards/5.jpg");
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4), .panel:nth-of-type(5) {
    display: none;
  }
}
.container--progress {
  font-family: "Muli", sans-serif;
  background-color: #f6f7fb;
  text-align: center;
}

.my_progress_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-bottom: 30px;
  max-width: 100%;
  width: 400px;
}

.my_progress_wrapper::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100% !important;
  transform: translateY(-50%);
}

.my_progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0;
  transform: translateY(-50%);
  transition: 0.4s ease;
}

.circle {
  z-index: 4;
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.buttons {
  width: 14rem;
  display: flex;
  justify-content: space-between;
}

.button {
  color: #fff;
  background-color: var(--line-border-fill);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 30px;
  margin-top: 65px;
}

.button:active {
  transform: scale(0.98);
}

.button:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

/*# sourceMappingURL=main.css.map */
